body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1, h2 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #555;
}

#controllerStatus, #chatConnectionStatus {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

#vibrationEmoji {
  font-size: 3rem;
  text-align: center;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align:  center;
}

li {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
}