body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1, h2 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #555;
}

#controllerStatus, #chatConnectionStatus {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

#vibrationEmoji {
  font-size: 3rem;
  text-align: center;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align:  center;
}

li {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
  width:  50%;

}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.slider-container {
  width: 50%;
  margin: 0 auto;
}


